.alert {
    display: none;
    margin-top:10px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}

/*-----Navbar content----*/
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: blue;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

/*----category----*/
.col img + p { 
    color: black; 
}

.col img:hover + p { 
    color: blue; 
}

.col:hover img {
    transform: scale(1.1); 
}

/*-----Grid column Links---*/
.col-md-2 p a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
.col-md-2 p a::after{
    content: '';
    width: 0;
    height: 3px;
    background: blue;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.col-md-2 p a:hover::after{
    width: 100%;
}

/*Team*/
section {
    padding: 80px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f3f5fa;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #0D6EFD;
  }
  
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  
  .team .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    transition: 0.5s;
    height: 100%;
  }
  
  .team .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
  }
  
  .team .member .pic img {
    transition: ease-in-out 0.3s;
  }
  
  .team .member:hover {
    transform: translateY(-10px);
  }
  
  .team .member .member-info {
    padding-left: 30px;
  }
  
  .team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #0D6EFD;
  }
  
  .team .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
  }
  
  .team .member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #cbd6e9;
    bottom: 0;
    left: 0;
  }
  
  .team .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
  }
  
  .team .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .team .member .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #eff2f8;
  }
  
  .team .member .fa a i {
    color: #0D6EFD;
    font-size: 16px;
    margin: 0 2px;
  }
  
  .team .member .fa a:hover {
    background: #47b2e4;
  }
  
  .team .member .fa a:hover i {
    color: #fff;
  }
  
  .team .member .fa a + a {
    margin-left: 8px;
  }
  
  


/*----products-----*/
#projects{
  padding: 30px 0;
}
.projects-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.projects-list div{
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.projects-list div i{
  font-size: 50px;
  margin-bottom: 30px;
}
.projects-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.projects-list div a{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top:20px;
  display: inline-block;
}
.projects-list div:hover{
  background-color: #ff004f;
  transform: translateY(-10px);
}
.projects-list a i{
  color: #fff;
  margin-right: 15px;
  font-size: 13px;
}

/*-------------*/
.section-product {
  text-align: center;
  padding-bottom: 30px;
}

.section-product h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #0D6EFD;
}

.section-product h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-product p {
  margin-bottom: 0;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  width: 22%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
}

.product:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product h3 {
  margin-top: 0;
}

.product ul {
  text-align: left;
  padding: 0;
  margin: 10px 0;
}

.product li {
  list-style-type: none;
}

.product a {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product a:hover {
  background-color: #0056b3;
}
